.input[type='text'] {
    width: 40%;
    padding: 12px 20px;
    margin: 20px 0;
    box-sizing: border-box;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
    border-radius: 20px;
    border: none;
    box-shadow: 0px 5px 20px rgb(153, 176, 201);
    outline: none;
}

.input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

.SearchBar {
    width: 65%;
    display: inline-block;
    position: absolute;
    top: 0;
    left: 35%;
    margin-top: 10px;
}

.cart {
    position: absolute;
    top: 10px;
    right: 12%;
    padding: 10px;
}

.counter {
    position: absolute;
    top: -9px;
    left: 0;
    margin-left: 20px;
}

@media screen and (max-width: 768px) {
    .SearchBar {
        position: relative;
        width: 100%;
        margin: 0;
        left: 31%;
    }
    .input[type='text'] {
        position: absolute;
        width: fit-content;
        bottom: 25px;
        left: 1rem;
        width: 40%;
        padding: 8px 20px;
    }
    .cart {
        position: absolute;
        top: -40px;
        left: 6.5rem;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .SearchBar {
        left: 25%;
    }
    .cart {
        left: 13rem;
    }
}
