.headTableRow {
    min-width: 100%;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    justify-items: center;
    height: 70px;
    line-height: 70px;
    color: honeydew;
    list-style: none;
}

.headTableRow td > button {
    backface-visibility: hidden;
    position: relative;
    cursor: pointer;
    display: inline-block;
    white-space: nowrap;
    background: linear-gradient(180deg, #aee 0%, #8cc 49%, #599 51%, #8cc 100%);
    border-radius: 5px;
    border: 1px solid #6aa;
    border-width: 1px 1px 1px 1px;
    padding: 10px 20px 10px 20px;
    box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 1),
        0px 1px 3px rgba(0, 0, 0, 0.3);
    color: #fff;
    font-size: 15px;
    font-family: Helvetica Neue;
    font-weight: 800;
    font-style: normal;
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.4);
}

.headTableRow td > button:hover {
    background: linear-gradient(to bottom, #77a809 5%, #89c403 100%);
    background-color: #77a809;
}
.headTableRow td > button:active {
    position: relative;
    top: 1px;
    background: grey;
}

@media screen and (max-width: 800px) {
    .headTableRow {
        display: grid;
        grid-template-columns: 16% 15% 25% 23% 20%;
        justify-items: center;
        grid-gap: 6px;
    }
    .headTableRow td > button {
        padding: 6px;
    }
    .headTableRow {
        justify-items: center;
    }
}
